@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  pre code {
    @apply block p-4 rounded-lg overflow-x-auto text-sm leading-relaxed;
  }

  pre {
    @apply bg-neutral-900 text-neutral-100 rounded-lg shadow-md my-6 border border-neutral-800;
  }

  code:not(pre code) {
    @apply bg-neutral-200 dark:bg-neutral-800 px-1 py-0.5 rounded text-sm;
  }
}

:root {
  --background: #161925;
  --foreground: #FFF;
  --evan-blue: #235789;
  --evan-red: #C1292E;
  --evan-yellow: #F1D302;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-evan-red: var(--evan-red);
  --color-evan-blue: var(--evan-blue);
  --color-evan-yellow: var(--evan-yellow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}